@model ECC_APP_2.Models.FundingGuideTemplate

@{
    ViewData["Title"] = "Funding Guide";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-container {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #bfefff; /* Baby Blue */
           
        }

        .form-heading {
            margin-bottom: 20px;
            text-align: center;
            font-style: italic;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input {
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                @ViewBag.Message
            </div>
        }

        <h1 class="text-center my-4">Funding Guide</h1>

        <div class="form-container">
            <h4 class="form-heading">Funding Guide Template</h4>
            <form asp-action="FundingGuide">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FundingPurpose" class="control-label"></label>
                            <input asp-for="FundingPurpose" class="form-control" />
                            <span asp-validation-for="FundingPurpose" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AmountRequested" class="control-label"></label>
                            <input asp-for="AmountRequested" class="form-control" />
                            <span asp-validation-for="AmountRequested" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BussinessOverview" class="control-label"></label>
                            <input asp-for="BussinessOverview" class="form-control" />
                            <span asp-validation-for="BussinessOverview" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BussinessName" class="control-label"></label>
                            <input asp-for="BussinessName" class="form-control" />
                            <span asp-validation-for="BussinessName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mission" class="control-label"></label>
                            <input asp-for="Mission" class="form-control" />
                            <span asp-validation-for="Mission" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BussinessModel" class="control-label"></label>
                            <input asp-for="BussinessModel" class="form-control" />
                            <span asp-validation-for="BussinessModel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalFunding" class="control-label"></label>
                            <input asp-for="TotalFunding" class="form-control" />
                            <span asp-validation-for="TotalFunding" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UseOfFunds" class="control-label"></label>
                            <input asp-for="UseOfFunds" class="form-control" />
                            <span asp-validation-for="UseOfFunds" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="expenses" class="control-label"></label>
                            <input asp-for="expenses" class="form-control" />
                            <span asp-validation-for="expenses" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Profitability" class="control-label"></label>
                            <input asp-for="Profitability" class="form-control" />
                            <span asp-validation-for="Profitability" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="industry" class="control-label"></label>
                            <input asp-for="industry" class="form-control" />
                            <span asp-validation-for="industry" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Competitors" class="control-label"></label>
                            <input asp-for="Competitors" class="form-control" />
                            <span asp-validation-for="Competitors" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="marketTrends" class="control-label"></label>
                            <input asp-for="marketTrends" class="form-control" />
                            <span asp-validation-for="marketTrends" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="keyMembersandRoles" class="control-label"></label>
                            <input asp-for="keyMembersandRoles" class="form-control" />
                            <span asp-validation-for="keyMembersandRoles" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="keyMilestones" class="control-label"></label>
                            <input asp-for="keyMilestones" class="form-control" />
                            <span asp-validation-for="keyMilestones" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Timeline" class="control-label"></label>
                            <input asp-for="Timeline" class="form-control" />
                            <span asp-validation-for="Timeline" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Risks" class="control-label"></label>
                            <input asp-for="Risks" class="form-control" />
                            <span asp-validation-for="Risks" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RiskPlan" class="control-label"></label>
                            <input asp-for="RiskPlan" class="form-control" />
                            <span asp-validation-for="RiskPlan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="summary" class="control-label"></label>
                            <input asp-for="summary" class="form-control" />
                            <span asp-validation-for="summary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="name" class="control-label"></label>
                            <input asp-for="name" class="form-control" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="phoneNumber" class="control-label"></label>
                            <input asp-for="phoneNumber" class="form-control" />
                            <span asp-validation-for="phoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Save Template" class="btn btn-primary mx-2" />
                    <input type="submit" value="Download Template" class="btn btn-secondary mx-2" />
                </div>
            </form>
        </div>
       
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
