@model ECC_APP_2.Models.FundingGuideTemplate





<form asp-action="FundingGuide">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <ul><strong>Funding Guide Template</strong></ul>
    <input type="image" src="~/images/funding3.jpg" alt="Submit" class="btn btn-primary" />
</form>
